@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background: linear-gradient(to bottom, #FFFFFF 0%, #F7F7F7 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    background-color: #ffffff;
    border-radius: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
    width: 400px;
    max-width: 100%;
    padding: 40px;
    text-align: center;
}

.container p {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.3px;
    color: #333;
    margin: 20px 0;
}

.container span {
    font-size: 12px;
    color: #666;
}

.container a {
    color: #6BB252;
    font-size: 13px;
    text-decoration: none;
    margin: 15px 0 10px;
}

.container button {
    background-color: #6bb252;
    color: #ffffff;
    font-size: 12px;
    padding: 10px 45px;
    border: 1px solid transparent;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-top: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.container button:hover {
    background-color: #58943e;
}

.container form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container input {
    background-color: #e9f2e4;
    border: 1px solid #c3dbc0;
    margin: 8px 0;
    padding: 10px 15px;
    font-size: 13px;
    border-radius: 8px;
    width: 100%;
    outline: none;
    color: #333;
    transition: border-color 0.3s;
}

.container input:focus {
    border-color: #6BB252;
}